body {
    color: #313437;
    background-color: #eef4f7;
}

.container{
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width: 767px) {
    .container  {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.course-name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
}

.course-id {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
}

.course-details {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}

.card a:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}
